h1{
    text-align: center;
    background-color: #96A480;
    border:white solid 3px;
}
header,h3{
    text-align: center;
}
header,h2,ul,li{
    text-align: left;
}
h3{
    background-color: #96A480 
;}

a{
    background-color: #96A480;
}
a:focus{color:black;}

aside {
    float: right;
    width: 20%;
    height: auto;
    font-style: italic;
    background-color:#96A480;
}

img{border-radius: 10px;
    width:80%;
}

[href]
{color: white ;
}

#language{
   background-color: white;  
   color: #96A480;
}

footer{
    width:100%;
    color:white ;
    text-align: justify;
    background-color: #96A480;
    position: fixed;
    text-align: center;
    left: 0;
  bottom: 0;
  width: 100%;
}




