.hero-section{
    height: 839px;
}

body{
    background-color: #EEE6ED;
}


.logo {
    font-family: Melinda Johan;
    src: url(c:\Users\Moldir\Downloads\MelindaJohan\Melinda-Johan.ttf);
    color: black;
    font-size: 46px;
    margin-top: 110px;
    margin-bottom: -27px;
    margin-left: 160px;

}
.logo2{
    font-family: Century Gothic;
    src: url(c:\Users\Moldir\Downloads\centurygothic.ttf);
    color: black;
    font-size: 13px;
    margin-left: 180px;
    display: inline-block;
}

.container {
    position: relative;
    text-align: center;
    color: #F957A5;
  }

.textofimg{
    font-family: Melinda Johan;
    src: url(c:\Users\Moldir\Downloads\MelindaJohan\Melinda-Johan.ttf);
    position: absolute;
    left: 25%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-size: 174px;
    color: #F957A5;
    visibility: 38%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    display: inline-block;
}


.img-container{
    width: 494px;
    height: auto;
    margin-left: 93px;
}

.img-container{
    display: inline-block;
    
}

.molly{
    text-decoration: underline;
    font-family: Finlandica;
    src: url(c:\Users\Moldir\Downloads\Finlandica-Regular.ttf);
    font-display: inline-block;
    font-size: 16px;
    float: right;
    margin-right: 20%;
}

.line{
    height: 36px;
    width: 100%;
    background-color: black;
    position: relative;
    display: inline-block;
}

.taketape{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: white;
    display: inline-block;
}

.taketape-container{
    position: relative;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.molly2{
    text-decoration: underline;
    font-family: Finlandica;
    src: url(c:\Users\Moldir\Downloads\Finlandica-Regular.ttf);
    font-display: inline-block;
    font-size: 16px;
    margin-left: 20%;
}

footer{
    background-color: white;
}

.wdd{
font-size: 28px;
font-family: Sofia Sans;
src: url(c:\Users\Moldir\Downloads\SofiaSans-VariableFont_wght.ttf);
text-align: left;
}


.hi{
    align-items: center;
    font-size: 13px;
    font-family: Finlandica;
    src: url(c:\Users\Moldir\Downloads\Finlandica-Regular.ttf);
    width: 822px;
    left:50%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hello{
    text-align: center;
    position: absolute;
    margin-bottom: 100px;
    left:20%
}


.rectangle{
  width:138px;
  height:33px;
  background-color: #28003B; 
  border-radius: 4px;
  position: relative;
  text-align: center;
  color: white;
  align-items: center;
}

.call{
    background-color: #28003B;
}