header{
    top: 0;
    background-color: lightgray;
    left: 0;
    right: 0;
    font-size: 23px;
    width: fit-content;
}

nav a:hover{
background-color: red;
color: white;
}

.girl{
    text-decoration: none;
    padding: 0 40px;
    color: black;
}

.and{
    color: black;
}

#love{
    width:200px;
    height: 100px;
    background:lightgray;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

input{
    height: 25px;
    margin-top: 50px;
    width: 200px;
    border: 1px solid black;
    margin-left: 100px;
}

.life{
    display: flex;
}

#or{
  height: 25px;
  margin-top: 50px;
  margin-left: 20px;
  width: 75px;
  border: 1px solid black;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  display: flex;

}

.carddd{
    border: 2px solid darkred;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-top: 20px;
    margin-right: 70px;
}

.toyota{
    color: white;
    margin:0;
    background-color: cornflowerblue;
    border-radius: 15px 15px 0 0;
}

.rectangle{
    width: 150px;
    height: 150px;
    background-color: lightgray;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.money{
    background-color: white;
    margin: 0;
    border-radius: 0 0 15px 15px;
    font-weight: bold;
}

.cards{
    display: flex;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: lightgray;
}