/*аллах барин корип тур
омир бумеранг
не вори коды ок
я целый день это делала
не для того чтобы такой 
читер как ты скопировал 
без разрешения мои труды за пять секунд😇👊
МОЖЕШЬ РАДИ ВЕЖЛИВОСТИ СПРОСИТЬ У МЕНЯ РАЗРЕШЕНИЕ И Я РАЗРЕШУ НО НЕ ЛЮБЛЮ КОГДА БЕЗ РАЗРЕШЕНИЯ ДЕЛАЮТ ТАКОЕ
НО ЕСЛИ ТЫ СПРОСИШЬ У МЕНЯ 
Я НАВЕРНЯКА ДАМ РАЗРЕШЕНИЕ
НО ЕСЛИ ЧТО Я УЗНАЮ О ТОМ ЧТО 
КТО ТО ИХ ВЗЯЛ ОК 
НО ЕСЛИ ТЫ СПРОСИШЬ У МЕНЯ И ВОЗЬМЕШЬ-НОУ ПРОБЛЕМ БЕРИ 😘*/

body{
    font-family:Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.logo{
    padding: 10px;
    height: 50px;
    top: 0;
}

nav{
    border-bottom: 1px solid seashell;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}
 .navbar {
    text-decoration:underline;
    height: 69px;
    padding: 10px;
    margin-right: 0;
    margin-left: 30px;
    margin-right: 0;
    padding-right: 0;
    text-align:right;
    float: right;
    justify-content:right;
    display: inline-flex;
}

.nav{
    text-align:right;
    float: right;
    justify-content:right;
    display: inline-flex;
    padding: 30px 10px;
    color: seashell;
}

.img1{
    background-image: url(https://github.com/darkhanzhursin/jihc-fe/blob/main/homeworks/css/tea/images/img-mission-background.jpg?raw=true);
    display: flex;
    justify-content: center;
    margin: 80px 145px;
    width:1200px;
    height:700px;
    text-align: center;
}
#Mission{
    display: flex;
    width: 100%;
}

.bad{
    width:1200px;
    height: fit-content;
    background-color: black;
    position: absolute;
    top: 50%;
}

article{
    text-align: center;
    display: inline-block;
    margin-left:37%;
    margin-right:auto
}

.photo{
    height:200px;
    width: 300px;
    padding-bottom: 10px;
    justify-content: center;
}

.boom{
    margin-right: 1px;
    margin-left: 250px;
}

.gym{
    margin-left: 1px;
}

figcaption{
    text-align: center;
}

.photos{
    display: inline-flex;
    justify-content: center;
}

.images{
    display: inline-flex;
    justify-content: center;  
}

.first{
    margin-left:405px;
    margin-right: 1px;
}

#Locations{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img2{
    background-image: url(https://github.com/darkhanzhursin/jihc-fe/blob/main/homeworks/css/tea/images/img-locations-background.jpg?raw=true);
    display: flex;
    justify-content: center;
    margin: 50px 153px;
    height:600px;
    width: 100%;
    text-align: center;
}

.one{
    text-align: center;
    text-align: start;
    padding-bottom: 15px;
}

.normal{
    display: inline-flex;
}

.chill,.kill,.pretty{
    background-color: black;
  text-align: center;
  width: 300px;
  height: 250px;
  margin: 0px 20px;
  opacity: 1;
}

.huanhou{
    text-align: center;
    height: 200px;
}

.molya{
    text-align: left;
    padding-left: 20px;
}