*{
    font-family:Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.logo{
    padding: 10px;
    height: 50px;
    top: 0;
}

 .start{
    height:69px;
 }

 hr{
    color: seashell;
 }

 .navbar {
    position: relative;
    text-decoration:underline;
    margin-left: 40px;
    margin-right: 0;
    padding-right: 0;
    text-align:right;
    float: right;
    justify-content:right;
    display: inline-flex;
    justify-content: space-between;
    top: 0;
    text-decoration: underline;
}

a{
    margin: 10px;
    padding: 10px;
    margin-right: 0;
}

.img1{
    size: 700px;
    text-align: center; 
    width: 90%;
}

