body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.nav{
    max-width: 2000px;
    margin: 0 auto;
    height: 85px;
}

.navbar{
    display: flex;
    font-size: 16px;
    margin-left: 800px;
    line-height: 1.6;
}

.f{
    padding-left: 30px;
}

.navbar a {
    color:  #4a4a4a;
    text-decoration: none;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 20px;
}

.pro{
    margin-left:1000px !important;
}
.navbar h1 {
    margin-top: 5px;
    margin-left: -800px;
    font-size: 24px;
    color:  #4a4a4a;
}
.banner {
    height: 100vh;
    width: 100%;
    padding-bottom: 64px;
}

.instant {
    position: absolute;
    background-color: #9dc20a;
    width: 800px;
    height: 400px;
    margin-top: -550px;
    margin-left: 60px;
    margin-top: 170px;
    background-size: contain;
}


.instant h2 {
    padding-left: 370px;
    padding-top: 50px;
    color: white;
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 12px;
}
.instant h1 {
    padding-left: 260px;
    font-size: 50px;
    line-height: 1.4;
    color: white;
    margin-bottom: 26px;
    
}
.instant p {
    font-size: 20px;
    color: white;
    padding-left: 270px;
    padding-bottom: 56px;
}

.y{
    position: absolute;
    background-color: #4a4a4a;
    width: 408px;
    height: 64px;
    border-radius: 4px;
    margin-left: 220px;
}

.y p {
        color: white;
        font-size: 20px;
        line-height: 1.4;
        width: 200px;
        margin-left: -150px;
}

.rule  {
    background-color: lightgrey;
    width: 205vh;
    height: 635px;
    margin-top: 435px;
    margin-left:-60px ;
    padding-bottom: 46px;
    padding-left: 32px;
}

.huanhou {
    position: absolute;
    background-color: white;
    width: 80%;
    height: 530px;
    margin-left: 10px;
    top: 750px;
}

.huanhou img {
width: 90%;
height: 65%;
margin-left: 100px;
margin-top: 45px;
}

.nd h1,p{
    line-height:1,2 ;
}

em{
    text-align: center;
}

.huanhou h1 {
     color: black;
     padding-left: 55px;
     font-size: 40px;
}

.huanhou p {
    color: black;
    padding-left: 70px;
    font-size: 20px;
}


.haha  {
    background-color: lightgray;
    width: 193.95vh;
    height: 635px;
    margin-top: 100px;
    margin-left: -10000px;
    padding-bottom: 46px;
    padding-right: 32px;
    padding-left: 38px;
}

.nd {
    position: absolute;
    background-color: white;
    width: 80%;
    height: 485px;
    margin-left: 700px;
    top: 750px;
    padding-bottom: 46px;
}

.nd img {
width: 90%;
height: 65%;
margin-left: 100px;
margin-top: 45px;
}

.nd h1 {
     color: black;
     padding-left: 55px;
     font-size: 40px;
}

.nd p {
    color: black;
    padding-left: 40px;
  
}

.center{
    text-align: center;
    margin-right:150px ;
    padding-bottom: 80px;
    margin-top: 64px;
}
.qwerty {
    padding-top: 46px;
    font-size: 36px;
    background-color: grey;
    width: 195vh;
    margin-bottom: 64px;
    background-size: contain;
    padding-left: 1%;
    padding-right: 1%;
    
}

 article{
    background-color: #4a4a4a;
    width: 100%;
    background-size: contain;
 }

figure{
    display: inline-flex;
    margin-left: 0;
}

.img{
    display: inline-flex;
    display: inline;
}

.true em {
    color: black;
    font-size: 30px;
    text-align: center;
    padding-right: 30px;
}

.true{
    display: inline-flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    width: 195vh;
}

.end {
    background-color: #4a4a4a;
    width:100%;
    height: 62px;
}
.end p {
     padding-left: 32px;
     padding-top: 35px;
}

.end h4 {
    color: white;
    justify-content: flex-end;
    text-align: center;
    padding-right: 32px;
}

.insta{
    margin-left: 1470px;
    margin-top: -40px;
    margin-right: 30px;
}

aside{
    padding-bottom: 200px;
}
